@using Demo.BusinessLogic.DataTransferObjects.Department
@model DepartmentViewModel
<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Department</h1>

    <form class="col-8" method="post" asp-controller="Department" asp-action="Create">
        <partial name="DepartmentPartialView/_department" />        
    </form>
</div>
@section ValidationScripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}