@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DepartmentViewModel
@{
}
<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Edit Department</h1>
    <form method="post" asp-controller="Department" asp-action="Edit" class="col-8">
        <partial name="DepartmentPartialView/_department" />
    </form>
</div>